<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <!-- custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/about-us.css">

    <!-- loading maps -->
    <script src="http://openlayers.org/api/OpenLayers.js"></script>
   	<script src="http://mapstraction.com/mxn/build/latest/mxn.js?(openlayers)" type="text/javascript"></script>

  </head>
  <body>
    <ion-content class="container">

      <div id="geologic-map"></div>
      <!-- <script type="text/javascript">
		    var map = new mxn.Mapstraction('geologic-map', 'openlayers');
		    var latlon = new mxn.LatLonPoint(25.2048, 57.2708);

		    map.setCenterAndZoom(latlon, 10);
	    </script> -->
      <h1>Geo &amp; Logic GIS Solutions</h1>
      <p>
        Geo &amp; Logic - GIS Solutions LLC <br>
        Office No 904, 9'Th Floor, Business Bay <br>
        Fountain Street, Empire Heights Tower, Block B<br>
        Dubai, United Arab Emirates<br>
        Tel: +971 4 5578787<br>
        Fax : +971-4-5135453<br>
        Toll Free: Tracking 800 87225464<br>
        Mobile: +971-55-1327906, + 971-50-5521236<br>
        info@geoandlogic.com, callcenter@geoandlogic.com
      </p>
      <script type="text/javascript">
		    var map = new mxn.Mapstraction('geologic-map', 'openlayers');
		    var latlon = new mxn.LatLonPoint(25.2048, 57.2708);

		    map.setCenterAndZoom(latlon, 10);
	    </script>

    </ion-content>

    <!-- map script -->
    <!-- <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script> -->
  </body>
</html>
