<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <script ssrc="../js/service.js"></script>
    <link rel="stylesheet" href="../css/login.css">
  </head>
  <body>
    <ion-view view-title="Login" name="login-view">
      <ion-content class="padding">
          <div class="list list-inset">
              <a href="#">
                <img src="../img/geomama_logo.png" alt="" />
              </a>
              <label class="item item-input">
                  <input type="text" placeholder="Username" ng-model="data.username">
              </label>
              <label class="item item-input">
                  <input type="password" placeholder="Password" ng-model="data.password">
              </label>
              <button class="button button-block button-calm" ng-click="login()">Login</button>
          </div>
      </ion-content>
    </ion-view>
  </body>
</html>
