<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Details</title>
  </head>
  <body>
    <ion-modal-view>
      <ion-header-bar>
        <h1 class="title">Details</h1>
      </ion-header-bar>
      <ion-content>
        <div>
          <!-- space for map -->
        </div>
      </ion-content>
      <ion-footer-bar>
        <ul class="list">
          <li class="item">Map</li>
          <li class="item">Info</li>
          <li class="item">Call</li>
          <li class="item">History</li>
        </ul>
      </ion-footer-bar>
    </ion-modal-view>
  </body>
</html>
